body {
  font-family: Arial, sans-serif;
  background-color: #ffffff !important;
  color: #333; 
  padding: 20px;
}



.container {
  max-width: 800px;
  margin: auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 5px;
}


.resume-header {
  text-align: center;
  margin-bottom: 20px;
}

.resume-header h1 {
  font-size: 32px;
  font-weight: bold;
}

.resume-header p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000; 
}


p {
  font-size: 16px;
  margin-bottom: 10px;
}


ul {
  margin-left: 20px;
  padding-left: 20px;
}

ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

.section-divider {
  width: 100%;
  border-top: 2px solid #000;
  margin: 20px 0;
}