:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff !important;
}

.resume-header {
  text-align: center !important;
}

body {
  background-color: #ffffff !important;
  color: #333 !important; 
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  background: #ffffff !important;
  padding: 40px;
  border-radius: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}


p {
  font-size: 16px;
  margin-bottom: 10px;
}


ul {
  margin-left: 20px;
  padding-left: 20px;
}

ul li {
  font-size: 16px;
  margin-bottom: 5px;
}


.section-divider {
  width: 100%;
  border-top: 2px solid #000;
  margin: 20px 0;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff !important;
  }
}